html {
    height: 100%;
    width: 100%;
    background-color: #1d292c;
}
#outer{
  position:fixed;
  top:0;
  left:0;
  width:10%;
  height:10%;
  z-index: 0;
}
#application-canvas {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#application-canvas.fill-mode-NONE {
    margin: auto;
}
#application-canvas.fill-mode-KEEP_ASPECT {
    
    height: auto;
    margin: 0;
}
#application-canvas.fill-mode-FILL_WINDOW {
    
    height: auto;
    margin: 0;
}

canvas:focus {
    outline: none;
}
